{% extends 'base.html' %}
{% block content %}
    <div><center>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                        <p><button type="button" onclick="window.location.href='{{ url_for('refresh') }}';">Ще!</button>
                            <button type="button" onclick="window.location.href='{{ url_for('history') }}';">Історія</button>
                        </p>
                    {% endfor %}
                </ul>
            {% else %}
             <h4> Ходив: {{data.player }} </h4>
                <div><p><button type="button" onclick="window.location.href='{{ url_for('refresh') }}';">На початок</button>
                    <button type="button" onclick="window.location.href='{{ url_for('history') }}';">Історія</button></p>
                    <div>
                      {% if data.moves == 0 %}
                      <span>Пан "X" ходить першим!</span>
                      {% endif %}
                      <p>{% for line in range(100) %}
                        <p>{% for point in field[line] %}
                                {% if point == data.x %}
                                    <span><img src="{{ url_for('static', filename='img/x.jpg') }}" width='30px' height='30px'/></span>
                                    {% elif point == data.o %}
                                        <span><img src="{{ url_for('static', filename='img/o.png') }}" width='30px' height='30px'/></span>
                                    {% else %}
                                        <span><a href="{{ url_for('game', pk=pk, move=data.moves, line=line, point=loop.index0)}}">
                                        <img src="{{ url_for('static', filename='img/main.png')  }}" width='30px' height='30px'/></a>
                                        </span>
                                {% endif %}
                            {% endfor %}</p>
                        {% endfor %}</p>

                </div>
        </div>
        {% endif %}
        {% endwith %}</center></div>

{% endblock %}