{% extends 'base.html' %}
{% block content %}
    <center><h1>Відтворити:</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                      <h4>{{ message }}</h4>
                        <p><button type="button" onclick="window.location.href='{{ url_for('refresh') }}';">На головну</button>
                        <button type="button" onclick="window.location.href='{{ url_for('history') }}';">Історія</button></p>
                    {% endfor %}
                </ul>
            {% else %}
                <h4> Хід: {{data.moves}}, Ходив: {{data.player }}, кординати:{{ data.chord }} </h4>
                <p><button type="button" onclick="window.location.href='{{ url_for('review', pk=game.id) }}';">Наступний крок</button>
                <button type="button" onclick="window.location.href='{{ url_for('history') }}';">Історія</button>
                <button type="button" onclick="window.location.href='{{ url_for('refresh') }}';">На головну</button></p>
                  <p>{% for line in range(100) %}
                    <p>{% for point in field[line] %}
                            {% if point == data.x %}
                                <span><img src="{{ url_for('static', filename='img/x.png') }}" width='30px' height='30px'/></span>
                            {% elif point == data.o %}
                                <span><img src="{{ url_for('static', filename='img/o.png') }}" width='30px' height='30px'/></span>
                            {% else %}
                                <span><img src="{{ url_for('static', filename='img/main.png')  }}" width='30px' height='30px'/></span>
                            {% endif %}
                        {% endfor %}</p>
                    {% endfor %}</p>
            {% endif %}
     {% endwith %}
    </center>
{% endblock %}